<form name="postForm">
  <div class="input-block my-3">
    <input type="text" name="title" id="title" required spellcheck="false">
    <span class="placeholder">
      Title
    </span>
  </div>
  <div class="input-block mb-3">
    <input type="text" name="body" id="body" required spellcheck="false">
    <span class="placeholder">
      Body
    </span>
  </div>
  <div class="input-block mb-3">
    <input type="file" name="img" id="img" required spellcheck="false">
  </div>
  <button type="submit" class="btn btn-info" style="margin-left: 285px;">Добавить</button>
</form>
<script defer src="/js/index.js"></script>
<link rel="stylesheet" href="/styles/index.css">
